---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Hero from "@/components/landing/Hero.astro";
import Work from "@/components/landing/Work.astro";
import Intro from "@/components/landing/Intro.astro";
import Content from "@/components/landing/Content.astro";
import Services from "@/components/landing/Services.astro";
import Cta from "@/components/landing/Cta.astro";

---


<BaseLayout>
  <Content>
    <div class="mx-auto max-w-7xl p-8">
      <h1 class="text-white font-display uppercase text-6xl">
        Bassin à Flot
      </h1>
    </div>
    <div class="mx-auto max-w-7xl max-h-fit p-8 flex justify-center items-center">
      <img class="max-w-full max-h-full object-contain bg-white border-t border-black lg:border-r"
      src="/work/bassin-a-flot.jpg">
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-[#EAD702] font-display uppercase lg:text-xl text-xs">
        Le Bassin des Lumières à Bordeaux est un centre d'art numérique situé dans un ancien hangar portuaire rénové. Inauguré en 2020, il propose des spectacles immersifs qui combinent art visuel et technologie, projetés sur les parois du bâtiment. Le lieu est renommé pour ses expositions audiovisuelles innovantes, mettant en lumière des artistes célèbres et des thèmes variés. Le Bassin des Lumières offre une expérience unique qui mêle culture, art et technologie. C'est une destination incontournable pour les amateurs d'art numérique et les curieux à Bordeaux.
      </p>
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <h2 class="text-white font-display uppercase text-3xl">
        Fragments
      </h2>
      <div class="mx-auto max-w-7xl max-h-fit p-8 flex justify-center items-center">
        <iframe width="100%" height="400px" src="https://www.youtube.com/embed/_2vXNa7blj0" title="Bassin des lumières" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>
  </Content>
</BaseLayout>
