---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Hero from "@/components/landing/Hero.astro";
import Work from "@/components/landing/Work.astro";
import Intro from "@/components/landing/Intro.astro";
import Content from "@/components/landing/Content.astro";
import Services from "@/components/landing/Services.astro";
import Cta from "@/components/landing/Cta.astro";

---


<BaseLayout>
  <Content>
    <div class="mx-auto max-w-7xl p-8">
      <h1 class="text-white font-display uppercase text-6xl">
        Blonde Venus
      </h1>
    </div>
    <div class="mx-auto max-w-7xl max-h-fit p-8 flex justify-center items-center">
      <img class="max-w-full max-h-full object-contain bg-white border-t border-black lg:border-r"
      src="/work/blonde venus.jpg">
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-xl text-xs">
        Blonde Venus est une brasserie située à Bordeaux, offrant une expérience unique autour de la bière artisanale. Fondée en 2015, elle se distingue par son large éventail de bières originales et créatives, brassées sur place. Le lieu propose également un espace convivial pour déguster ses créations, avec des événements réguliers comme des concerts et des soirées à thème. Blonde Venus s’engage à utiliser des ingrédients locaux et à promouvoir la culture de la bière artisanale. C’est un endroit idéal pour les amateurs de bière à la recherche de nouvelles découvertes.
      </p>
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <h2 class="text-white font-display uppercase text-3xl">
        Fragments
      </h2>
      <div class="mx-auto max-w-7xl max-h-fit p-8 flex justify-center items-center">
        <img class="max-w-full max-h-full object-contain bg-white border-t border-black lg:border-r"
        src="/work/blonde-venus-frag.jpg">
      </div>
    </div>
  </Content>
</BaseLayout>
