---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Hero from "@/components/landing/Hero.astro";
import Work from "@/components/landing/Work.astro";
import Intro from "@/components/landing/Intro.astro";
import Content from "@/components/landing/Content.astro";
import Services from "@/components/landing/Services.astro";
import Cta from "@/components/landing/Cta.astro";

---


<BaseLayout>
  <Content>
    <div class="mx-auto max-w-7xl p-8">
      <h1 class="text-white font-display uppercase text-6xl">
        CAPC
      </h1>
    </div>
    <div class="mx-auto max-w-7xl max-h-fit p-8 flex justify-center items-center">
      <img class="max-w-full max-h-full object-contain bg-white border-t border-black lg:border-r"
      src="/work/capc.jpg">
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-[#EAD702] font-display uppercase lg:text-xl text-xs">
        Le CAPC (Centre d'Arts Plastiques Contemporains) de Bordeaux est un musée dédié à l'art contemporain, fondé en 1973. Il se trouve dans un ancien entrepôt de denrées coloniales du XIXe siècle, offrant un cadre unique pour les expositions. Le musée propose une programmation variée, incluant des expositions temporaires, des installations et des performances. Il joue un rôle clé dans la promotion de l'art moderne et offre également des activités éducatives et culturelles. Le CAPC est un lieu incontournable pour découvrir les pratiques artistiques actuelles à Bordeaux.
      </p>
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <h2 class="text-white font-display uppercase text-3xl">
        Fragments
      </h2>
      <div class="mx-auto max-w-7xl max-h-fit p-8 flex justify-center items-center">
        <img class="max-w-full max-h-full object-contain bg-white border-t border-black lg:border-r"
        src="/work/capc-frag.jpg">
      </div>
    </div>
  </Content>
</BaseLayout>
