---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Hero from "@/components/landing/Hero.astro";
import Work from "@/components/landing/Work.astro";
import Intro from "@/components/landing/Intro.astro";
import Content from "@/components/landing/Content.astro";
import Services from "@/components/landing/Services.astro";
import Cta from "@/components/landing/Cta.astro";

---


<BaseLayout>
  <Content>
    <div class="mx-auto max-w-7xl p-8">
      <h1 class="text-white font-display uppercase text-6xl">
        Cité du Vin
      </h1>
    </div>
    <div class="mx-auto max-w-7xl max-h-fit p-8 flex justify-center items-center">
      <img class="max-w-full max-h-full object-contain bg-white border-t border-black lg:border-r"
      src="/work/cité du vin.jpg">
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-xl text-xs">
        La Cité du Vin à Bordeaux est un musée dédié à l'univers du vin, ouvert en 2016. Ce bâtiment moderne, au design innovant, propose une expérience immersive à travers des expositions interactives et des ateliers. Les visiteurs peuvent explorer l’histoire, la culture et les techniques de vinification du monde entier. La Cité du Vin offre également des dégustations et dispose d'un restaurant avec vue panoramique sur Bordeaux. C'est un lieu essentiel pour les passionnés de vin et ceux qui souhaitent en apprendre davantage sur cette boisson emblématique
      </p>
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <h2 class="text-white font-display uppercase text-3xl">
        Fragments
      </h2>
      <div class="mx-auto max-w-7xl max-h-fit p-8 flex justify-center items-center">
        <iframe width="100%" height="400px" src="https://www.youtube.com/embed/Xp-1oOzdpzY" title="Cité du vin - Lucas" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="mx-auto max-w-7xl max-h-fit p-8 flex justify-center items-center">
        <video class="w-[50%] h-full" src="/work/bouteille.mp4" loop autoplay muted>
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </Content>
</BaseLayout>
