---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Hero from "@/components/landing/Hero.astro";
import Work from "@/components/landing/Work.astro";
import Intro from "@/components/landing/Intro.astro";
import Content from "@/components/landing/Content.astro";
import Services from "@/components/landing/Services.astro";
import Cta from "@/components/landing/Cta.astro";

---


<BaseLayout>
  <Content>
    <div class="mx-auto max-w-7xl p-8">
      <h1 class="text-white font-display uppercase text-6xl">
        Darwin
      </h1>
    </div>
    <div class="mx-auto max-w-7xl max-h-fit p-8 flex justify-center items-center">
      <img class="max-w-full max-h-full object-contain bg-white border-t border-black lg:border-r"
      src="/work/darwin.jpg">
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-[#EAD702] font-display uppercase lg:text-xl text-xs">
        Darwin à Bordeaux est un espace innovant dédié à l’économie collaborative et durable. Situé dans un ancien entrepôt militaire, il regroupe des entreprises, des start-ups et des initiatives axées sur l’écologie et la créativité. Le lieu propose des bureaux partagés, des ateliers, des événements culturels et des espaces de coworking. Darwin se distingue par son engagement envers la transition écologique et le développement local. C'est un hub dynamique pour les entrepreneurs, les créateurs et les citoyens soucieux de l’environnement.
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <h2 class="text-white font-display uppercase text-3xl">
        Fragments
      </h2>
      <div class="mx-auto max-w-7xl max-h-fit p-8 flex justify-center items-center">
        <img class="max-w-full max-h-full object-contain bg-white border-t border-black lg:border-r"
        src="/work/darwin-frag.jpg">
      </div>
      <div class="mx-auto max-w-7xl max-h-fit p-8 flex justify-center items-center">
        <img class="max-w-full max-h-full object-contain bg-white border-t border-black lg:border-r"
        src="/work/darwin-2-frag.jpg">
      </div>
    </div>
  </Content>
</BaseLayout>
