---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Hero from "@/components/landing/Hero.astro";
import Work from "@/components/landing/Work.astro";
import Intro from "@/components/landing/Intro.astro";
import Content from "@/components/landing/Content.astro";
import Services from "@/components/landing/Services.astro";
import Cta from "@/components/landing/Cta.astro";

---


<BaseLayout>
  <Content>
    <div class="mx-auto max-w-7xl p-8">
      <h1 class="text-white font-display uppercase text-6xl">
        Les Halles Bacalan
      </h1>
    </div>
    <div class="mx-auto max-w-7xl max-h-fit p-8 flex justify-center items-center">
      <img class="max-w-full max-h-full object-contain bg-white border-t border-black lg:border-r"
      src="/work/1.png">
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-xl text-xs">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor enim ac libero tincidunt cursus. Donec vehicula, nunc ut feugiat efficitur, augue nulla vehicula nulla, eget tempor augue mauris et magna. Phasellus sit amet augue neque. Curabitur volutpat justo ut nisi elementum, vitae lacinia odio malesuada. Nulla facilisi. Integer non nulla libero. Aliquam erat volutpat. Nulla facilisi, consectetur a magna ac, tincidunt sem.
      </p>
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <h2 class="text-white font-display uppercase text-3xl">
        Fragments
      </h2>
      <div class="mx-auto max-w-7xl max-h-fit p-8 flex justify-center items-center">
        <img class="max-w-full max-h-full object-contain bg-white border-t border-black lg:border-r"
        src="/work/2.png">
      </div>
      <div class="mx-auto max-w-7xl max-h-fit p-8 flex justify-center items-center">
        <img class="max-w-full max-h-full object-contain bg-white border-t border-black lg:border-r"
        src="/work/3.png">
      </div>
    </div>
  </Content>
</BaseLayout>
