---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Hero from "@/components/landing/Hero.astro";
import Work from "@/components/landing/Work.astro";
import Intro from "@/components/landing/Intro.astro";
import Content from "@/components/landing/Content.astro";
import Services from "@/components/landing/Services.astro";
import Cta from "@/components/landing/Cta.astro";

---


<BaseLayout>
  <Content>
    <div class="mx-auto max-w-7xl p-8">
      <h1 class="text-white font-display uppercase text-6xl">
        MÉCA
      </h1>
    </div>
    <div class="mx-auto max-w-7xl max-h-fit p-8 flex justify-center items-center">
      <img class="max-w-full max-h-full object-contain bg-white border-t border-black lg:border-r"
      src="/work/meca.jpg">
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-[#EAD702] font-display uppercase lg:text-xl text-xs">
        La MÉCA (Maison de l'Économie Créative et de la Culture) à Bordeaux est un centre culturel et créatif inauguré en 2020. Conçu par l'architecte Philippe Starck, ce bâtiment moderne est dédié à l'innovation culturelle et à la créativité. Il abrite des espaces pour les entreprises créatives, des studios de production, ainsi que des lieux d'exposition et de rencontre. La MÉCA joue un rôle central dans le soutien aux projets artistiques et culturels tout en favorisant les échanges entre créateurs et le public. C’est un point névralgique pour l’innovation et la culture dans la région bordelaise.
      </p>
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <h2 class="text-white font-display uppercase text-3xl">
        Fragments
      </h2>
      <div class="mx-auto max-w-7xl max-h-fit p-8 flex justify-center items-center">
        <iframe width="100%" height="400px" src="https://www.youtube.com/embed/ux0yybotSRA" title="MECA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>
  </Content>
</BaseLayout>
