---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Hero from "@/components/landing/Hero.astro";
import Work from "@/components/landing/Work.astro";
import Intro from "@/components/landing/Intro.astro";
import Content from "@/components/landing/Content.astro";
import Services from "@/components/landing/Services.astro";
import Cta from "@/components/landing/Cta.astro";

---


<BaseLayout>
  <Content>
    <div class="mx-auto max-w-7xl p-8">
      <h1 class="text-white font-display uppercase text-6xl">
        Utopia
      </h1>
    </div>
    <div class="mx-auto max-w-7xl max-h-fit p-8 flex justify-center items-center">
      <img class="max-w-full max-h-full object-contain bg-white border-t border-black lg:border-r"
      src="/work/utopia.jpg">
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-xl text-xs">
        L'Utopia à Bordeaux est un cinéma d'art et essai emblématique, situé dans un ancien théâtre rénové. Fondé en 1989, il propose une programmation diversifiée, incluant des films indépendants, des classiques du cinéma et des œuvres internationales. L'Utopia se distingue par son engagement en faveur du cinéma de qualité et de la culture alternative. Le lieu abrite également une librairie spécialisée et un café, offrant une ambiance chaleureuse aux visiteurs. C’est un espace culturel clé pour les passionnés de cinéma et les amateurs de découvertes cinématographiques à Bordeaux.
      </p>
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <h2 class="text-white font-display uppercase text-3xl">
        Fragments
      </h2>
      <div class="mx-auto max-w-7xl max-h-fit p-8 flex justify-center items-center">
        <img class="max-w-full max-h-full object-contain bg-white border-t border-black lg:border-r"
        src="/work/utopia-frag.jpg">
      </div>
    </div>
  </Content>
</BaseLayout>
